@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  min-height: 100vh;
  background-image: url("../../assets/background_login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 2rem;
  background-attachment: fixed;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  border-radius: 16px;
  width: 100%;
  padding: 4rem;
  margin-right: 5%;
  max-width: 450px;
  backdrop-filter: blur(5px);
}

.login h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
}

.input-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 1rem;
  transition: border-color 0.3s ease;
}

.input-container:focus-within {
  border-color: #00ffff;
}

.icon {
  color: #fff;
  font-size: 1.2rem;
}

.login-input { 
  flex: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.login-input::placeholder { /* ALTERADO */
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.btn-login {
  margin: 24px auto 0 auto;
  padding: 0.8rem;
  width: 50%;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: #00ffff;
  color: #1a1a1a;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background-color: #fff;
  transform: scale(1.03);
}

.btn-login:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.form-login p {
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}

.form-login a {
  color: #00ffff;
  font-size: 0.9rem;
  text-decoration: none;
  margin-left: 5px;
  font-weight: 600;
}

.form-login a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .container-login {
    justify-content: center;
    background-position: center center;
  }
  .login {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .login {
    width: 90%;
    padding: 3rem 2rem;
  }
  .btn-login {
    width: 70%;
  }
}

@media (max-width: 530px) {
  .login h2 {
    font-size: 2rem;
  }
  .form-login {
    gap: 15px;
  }
  .btn-login {
    width: 80%;
  }
}