*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/background.jpg');
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    backdrop-filter: blur(2px);
    background: rgba(30, 30, 60, 0.37);
    border-radius: 10px;
    padding: 37px 50px; 
}


.name{
    font-family: sans-serif;
    font-size: 4 rem;
    padding: 10px;
    border-radius: 4px;
    width: 40vh;
    color: #fff;
}

.opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.btn{
    display: block;
    padding: 16px;
    border-radius: 4px;
    width: 45vh;
    gap: 10px;
    background: transparent;
    backdrop-filter: blur(5px);
    background: rgba(29, 88, 29, 0.418);
    font-size: 1.1rem;
    border: none;
    font-family: sans-serif;
    color: #fff; 
}

.btn:hover{
    background: rgba(68, 216, 68, 0.4);
    color: #fff;
    cursor: pointer;
}

