*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #103618be;
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    
}


#name{
    font-family: sans-serif;
    font-size: 4 rem;
    padding: 10px;
    border-radius: 4px;
    width: 40vh;
    background-color: #353175;
    color: #fff;
}

.opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.btn{
    display: block;
    padding: 16px;
    border-radius: 4px;
    width: 40vh;
    gap: 10px;
    background-color: #353175;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    font-family: sans-serif;
}

.btn:hover{
    background-color: #56519c;
    color: #fff;
    cursor: pointer;
}

