*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/background_azul.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
}


.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    backdrop-filter: blur(3px);
    background: rgba(30, 30, 60, 0.37);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 119, 255, 0.13);
    padding: 50px; 
}


.name{
    font-family: sans-serif;
    font-size: 4 rem;
    padding: 10px;
    border-radius: 4px;
    width: 40vh;
    color: #fff;
}

.opcoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;

}
.btn{
    display: block;
    padding: 16px;
    border-radius: 4px;
    width: 47vh;
    gap: 10px;
    background: transparent;
    backdrop-filter: blur(2px);
    background: rgba(60, 136, 243, 0.368);
    font-size: 1.1rem;
    border: none;
    font-family: sans-serif;
    color: #fff; 
    max-width: 95%;
}

.btn:hover{
    background: rgb(72, 83, 232);
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
}

