@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset e Padrões Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* A fonte padrão para o projeto inteiro */
  font-family: 'Poppins', sans-serif; 
  /* Uma cor de fundo padrão caso alguma página não tenha a sua */
  background-color: #0a0f1c; 
  color: white;
  
  /* IMPORTANTE: Nenhuma imagem de fundo ou regra de overflow aqui! */
}